.footer{
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 98%;
  background-color: #282828;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer_left{
  flex: 0.3;
  display: flex;
  align-items: center;
  max-width: 300px;
}

.footer_center{
  flex: 0.4;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer_right * .MuiSlider-root{
  color: rgb(11, 145, 11);
}

.footer_right{
  flex: 0.3;
  padding:0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer_albumLogo{
  height: 60px;
  width: 60px;
  object-fit: contain;
  margin-right: 20px;
}
.footer_songinfo > h4{
  margin-bottom: 5px;
}

.footer_songinfo >p{
  font-size: 12px;
}

.footer_icon:hover,
.footer_green:hover{
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}
.footer_green{
  color: rgb(11, 145, 11);
}