.sidebar{
  height: inherit;
  flex: 0.2;
  background-color: #040404;
  color: white;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}



.sidebar > hr{
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;

}

.sidebar_logo{
  object-fit: contain;
  height: 100px;
  width: 130px;
  padding: 10px;
  margin-right: auto;
}

.sidebar_title{
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}